.booking-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(5, 1, 5);
    background-size: cover;
    background-position: center;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.form-container {
    width: 100%;
    max-width: 600px;
   
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(176, 29, 29, 0.2);
}

.list-container {
    width: 100%;
    max-width: 600px;
    background-color: #f0f0f0; /* Different background color for the booking list */
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
